.font-primary {
  font-family: "Arimo", sans-serif;
}

.font-secondary {
  font-family: "Pridi", sans-serif;
}

.font-arimo {
  font-family: 'Arimo', sans-serif;
}

.font-pridi {
  font-family: 'Pridi', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pridi';
  font-weight: 500;
  margin-bottom: 1rem;
}

p, a {
  font-family: 'Arimo', sans-serif;
}

li,
a {
  font-family: 'Arimo', sans-serif;
}
