:root {
  --color-primary: #1f6600;
  --color-dark: #2f2f2f;
  --bg-primary: #eef8e9;
  --bg-secondary: #338027;
  --bg-secondary-hover: rgba(51, 128, 39, 0.824);
  --bg-secondary-dark: darkgreen;
  --bg-secondary-opaque: rgba(234, 245, 234, 0.144);
}

.font-primary{
    font-family: "Arimo", sans-serif;
}

.font-secondary{
    font-family: "Pridi", sans-serif;
}

.text-primary {
  color: var(--color-primary);
}

.text-dark {
  color: var(--color-dark);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-secondary-opaque {
  background-color: var(--bg-secondary-opaque);
}